<article class="container-fluid recipe-detail" *ngIf="recipe">

    <section class="row overview">
        <div class="col-md-4">
            <img [src]="'images/recipes/'+recipe.image"/>
        </div>
        <div class="col-md-8">
            <div class="recipe-title">{{recipe.title}}</div>
            <div class="recipe-date">{{recipe.datePublished | date}}</div>
        </div>
    </section>

    <div class="row justify-content-between">
        <section class="col-md-4">
            <h1>Ingredients</h1>
            <!--ul with li's for each ingredient -->
            <ul>
                <li *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>
            </ul>
        </section>
        <div class="col-md-4">
            <section class="comments">
                <h1>Reviews</h1>
                <!--for each review make an article.comment below-->
                <article class="comment" *ngFor="let review of recipe.reviews">
                    <div class="author">{{review.name}}</div>
                    <div class="rate">{{review.rate}}<i class="fa fa-star-o" aria-hidden="true"></i></div>
                    <div class="text">{{review.text}}</div>
                </article>
            </section>
        </div>
    </div>
</article>
